body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
}

input, select, button {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#lista-gastos {
    margin-top: 2rem;
}

#gastos-list {
    list-style-type: none;
    padding: 0;
}

#gastos-list li {
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
}